<div class="row">
<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Newest questions</h1>

  <table class="table">
    <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td></td>
          <td>
            <h2><%= link_to question.title, question %></h2>  <br/>
            <%= question.content.truncate(200) %>
            <%= question.tags %><br/>
          </td>
          <td>
            <td><%= question.user_id %></td>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>


</div>
</div>